---
name: Build and release
run-name: Build and relese resume ${{ github.ref_name }}

on:
  push:
    tags:
    - 'v*.*.*'
    - 'v*.*.*-beta.*'
  workflow_dispatch:

jobs:
  build:
    name: Build pdf and json resume
    runs-on: ubuntu-latest
    steps:
    - name: Fail if it's not a tag
      if: github.ref_type != 'tag'
      id: fail-if-not-tag
      run: |
        echo "Workflow triggered on ref type: ${{ github.ref_type }}" >> "$GITHUB_STEP_SUMMARY"
        echo "Ref name: ${{ github.ref_name }}" >> "$GITHUB_STEP_SUMMARY"
        echo "This workflow is intended to run only on tags" >> "$GITHUB_STEP_SUMMARY"
        echo "This workflow only runs on tags"
        echo "Exiting..."
        exit 1
    - name: Checkout repo
      id: checkout
      uses: actions/checkout@v5
      with:
        ref: ${{ github.ref_name }}
    - name: Checkout html-resume repo
      id: checkout-html
      uses: actions/checkout@v5
      with:
        repository: arcezd/html-resume
        ref: 'v1.3.1'
        path: html
    - name: Setting compilation vars
      id: compilation-vars
      run: |
        echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
        # check if the tag is a beta tag
        if [[ "${{ github.ref_name }}" == *"-beta."* ]]; then
          echo "is_beta=true" >> "$GITHUB_OUTPUT"
        else
          echo "is_beta=false" >> "$GITHUB_OUTPUT"
        fi
    - name: Setup node
      id: setup-node
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'
    - name: Install dependencies
      id: install-dependencies
      run: yarn install --frozen-lockfile
    - name: Setup Chromium
      id: setup-chromium
      uses: browser-actions/setup-chromium@v2
      with:
        chrome-version: latest
    - name: Run task.js for PDF generation [EN]
      id: pdf-generation-en
      run: npm run pdf
      env:
        HTML_TEMPLATE_SUBFOLDER: html/default
        TAG_REF_V: ${{ github.ref }}
        COMMIT_SHA: ${{ steps.compilation-vars.outputs.sha_short }}
        GITHUB_REPO_URL: ${{ github.server_url }}/${{ github.repository }}
    - name: Run task.js for PDF generation [ES]
      id: pdf-generation-es
      run: npm run pdf
      env:
        HTML_TEMPLATE_SUBFOLDER: html/default
        RESUME_LANGUAGE: es-CR
        TAG_REF_V: ${{ github.ref }}
        COMMIT_SHA: ${{ steps.compilation-vars.outputs.sha_short }}
        GITHUB_REPO_URL: ${{ github.server_url }}/${{ github.repository }}
    # - name: Upload Resume JSON to S3 bucket [EN]
    #   id: upload-release-asset-json-en-to-s3
    #   uses: arcezd/s3-cp-action@v0.0.1
    #   env:
    #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
    #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     DEST_DIR: cv/api/v1/en/resume.json
    #     SOURCE_DIR: resume_en-US.json
    #   with:
    #     args: --follow-symlinks
    # - name: Upload Resume JSON to S3 bucket [ES]
    #   id: upload-release-asset-json-es-to-s3
    #   uses: arcezd/s3-cp-action@v0.0.1
    #   env:
    #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
    #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     DEST_DIR: cv/api/v1/es/resume.json
    #     SOURCE_DIR: resume_es-CR.json
    #   with:
    #     args: --follow-symlinks
    - name: Upload resume PDF to artifacts [EN]
      id: upload-pdf-artifact-en
      uses: actions/upload-artifact@v5
      with:
        name: diego.arce_resume_en-US.pdf
        path: diego.arce_resume_en-US.pdf
    - name: Upload resume PDF to artifacts [ES]
      id: upload-pdf-artifact-es
      uses: actions/upload-artifact@v5
      with:
        name: diego.arce_resume_es-CR.pdf
        path: diego.arce_resume_es-CR.pdf
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          diego.arce_resume_en-US.pdf
          diego.arce_resume_es-CR.pdf
        generate_release_notes: true
        name: Release ${{ github.ref_name }}
        prerelease: ${{ steps.compilation-vars.outputs.is_beta }}
