---
name: Create new resume release
run-name: >
  Create new
  ${{ (inputs.beta || (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch )) && 'beta' || '' }}
  resume release

on:
  push:
    branches:
    - 'main'
    paths:
    - '**'
    - '!.github/**'
    - '!README.md'
    - '!CHANGELOG.md'
    - '!package.json'
    - '!.cz.toml'
  workflow_dispatch:
    inputs:
      beta:
        description: 'Create a beta release'
        required: false
        default: true
        type: boolean

permissions:
  contents: write
  actions: write

env:
  BETA_RELEASE: ${{ inputs.beta || (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch ) }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      id: checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        ssh-key: ${{ secrets.RELEASE_SSH_KEY }}
    - name: Install uv
      id: setup-uv
      uses: astral-sh/setup-uv@v6
    - name: Setup Python
      id: setup-python
      run: uv python install
    - name: Install commitizen
      id: setup-commitizen
      run: uv tool install Commitizen
    - name: Import GPG key for bot
      id: bot-signing-key
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        gpg_private_key: ${{ secrets.BOT_GPG_SIGNING_KEY }}
        passphrase: ${{ secrets.BOT_GPG_PASSPHRASE }}
        fingerprint: "F0637CD9BCDAACC51D7976F3071E232FF33B2800"
    - name: Prepare git user for bot
      run: |
        git config --global user.name "arce-bot"
        git config --global user.email "bot@arce.cr"
        git config --global user.signingkey $KEY_ID
        git config --global commit.gpgsign true
      env:
        KEY_ID: ${{ steps.bot-signing-key.outputs.keyid }}
    - name: Bump version
      id: version
      run: |
        #!/bin/bash
        # get the current version
        current_semver=$(cz version -p)
        # fail if the tag doesn't exist
        if [ -z "$(git tag --list v$current_semver)" ]; then
          echo "Tag v$current_semver does not exist. Exiting."
          exit 1
        fi
        # bump the version
        cz bump \
          ${{ env.BETA_RELEASE == 'true' && '--prerelease beta' || '--changelog' }} \
          ${{ github.run_number == 1 && '--yes' || '' }}
        semver=$(cz version -p)
        echo "semver=${semver}" >> "$GITHUB_OUTPUT"
    - name: Push changes and release tag
      id: git-push
      run: |
        git push --follow-tags
    # - name: Build release
    #   id: build
    #   run: gh workflow run build.yml --ref v${{ steps.version.outputs.semver }}
    #   env:
    #     GH_TOKEN: ${{ github.token }}
